########################################
# Files
########################################
.DS_STORE
*.log
images/*

########################################
# Folders
########################################
dist/
node_modules/

########################################
# Compiled
########################################
