########################################
# Files
########################################
.DS_STORE
*.log

########################################
# Folders
########################################
dist/
images/optimized/
images/resized/
node_modules/

########################################
# Compiled
########################################
