########################################################################
# File types
########################################################################
*.css
*.json
*.scss

########################################################################
# Folders
########################################################################
dist/
